* {
    margin:0;
    padding:0;
    box-sizing: border-box;

}
.header-wrap {
        background-image: url("../image/banner.png");
        background-size:cover;
        background-repeat: no-repeat;
        padding-bottom: 4em;
}
.header {
    display: flex;
    justify-content: space-between;
    color:aliceblue;
}
.header-logo {
    font-weight: bold;
    font-size: 45px;
    color: rgb(228, 138, 3);
    position: relative;
    right: 5%;

}

.header-menu {
    padding-top: 20px;
}
.header-button {
    margin-top: 16px;
}
.header-button button {
    color:orange;
    padding: 10px 15px;
    display : flex;
    justify-content: center;
    border: unset;
    background:linear-gradient(to right, rgb(216, 198, 198), peru);
    border-radius : 5px;
    color: var(--bas-light);
    transition: all 500ms ease;
    animation: figgker 2s ease  infinite;
}
.header-button button:hover {
    scale: 1.2;
}

.header-menu li {
    display: inline-block;
    padding-right: 20px;
}
.header-menu ul li a {
    text-decoration: none;
    color: var(--bs-white);
    font-size: 1.2em;
    transition: all 500ms ease;
    display: block;
    
}
.header-menu ul li a::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 0%;
    left: 0;
    height: 2px;
    background: rgb(226, 150, 74);
    display: block;
    transition: all 500ms ease; 
}
.header-menu ul li a:hover {
    scale: 1.2;
    color: var(--bs-light);
}
.header-menu ul li a:hover::after {
    width: 100%;
}
@keyframes figgker {
    0% {
        scale: 1;
    }

    50% {
        scale: 1.2;
    }

    100% {
        scale: 1;
    }
}

.header-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0 1em;
    margin-top: 100px;
}
.header-content__title {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.header-content__title span {
    color: white;
    font-size: 3em;
    text-transform: capitalize;
    font-family: 'Merriweather', serif;

}
.header-content__title--spacial {
    font-size: 3rem;
    color: rgb(252, 188, 71) !important;
    
}
.header-content__des {
    color: white;
    font-size: 1.5em;
}
.header-content__btn button {
    font-size: 1.5em;
    font-family: 'Merriweather', serif;
    margin-top: 100px;
    transform: all 500ms ease-in-out;
    animation: figgker 2s ease infinite;
    border-radius: 50%;
    padding:10px;
    background-color: unset;
    color: rgb(189, 141, 10);
    border: 1px solid #fff;
}
.first-main {
    background-color: rgb(250, 177, 42);
    rotate: -1deg;
    overflow: hidden;
}
.first-main-content {
    font-size: 4em;
    display: flex;
    justify-content: center;
    color: whitesmoke;
    margin-bottom: 0;
    z-index: 1;
}

.main-content {
    margin-top: 15px;
    padding:0 1em;
    display: flex;
    position: relative;
    top: -15px;
    flex-direction: column;
}
.content-item-text__title {
    font-size: 3em;

}
.content-item-text {
    padding-right: 3em ;
    text-align: right;
}
.content-item-text__title--special {
    color: orange;
}

.content-item {
    display: grid;
    grid-template-columns: 50% 50%;
}
.content-item-text__des {
    font-size: 1.2em;
}
.content-item-text__btn {
    position: relative;
    bottom: 100px;
    font-size: 1.5em;
    font-family: 'Merriweather', serif;
    margin-top: 100px;
    transform: all 500ms ease-in-out;
    animation: figgker 2s ease infinite;
    border-radius: 50%;
    padding:10px;
    background-color: unset;
}
.content-item-img {
    width: 100%;
    padding: 0 1em;
}
.content-item-img img {
    width: 100%;
    background: transparent;
    height: 100%;
    z-index: 100;
}
.content-item-img img:hover {
    opacity: 0.8;
}
.content-item:nth-child(2) .content-item-text {
    order: 2;
    padding-left: 2em;
    padding-right: 0;
}
.content-item:nth-child(2) .content-item-img {
    order: 1;
}
.container-wrap {
    display: grid;
    grid-template-columns: auto auto auto;
    width: 100%;
    grid-column-gap: 20px;
    padding: 0 20px;
    margin-top: 10px;
}
.product-item {
    display: flex;
    flex-direction: column;
    
}
.main-product-title {
    font-family: 'Alkalami', serif;
    font-family: 'Merriweather', serif;
    font-family: 'Noto Serif', serif;
    font-family: 'Raleway', sans-serif;
    position: relative;
    font-weight: bold;
    font-size: 3em;
    padding: 20px;
}
.product-item-img {
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(166, 24, 24, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: relative;
}
.product-item-img:hover> .product-item-des{
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    bottom: 0;
}
.product-item-des {
    padding: 0 10px;
    position: absolute;
    transition: all 1s ease;
    bottom: -100px;
    background: linear-gradient(to bottom, transparent, #aaa);
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
.product-item-img img {
    width: 100%;
    transition: all 1s ease;
}
.product-item-img img:hover {
    scale:1.1 ;
    opacity: 0.9;
}
.product-item-info {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.product-item-info p {
    font-size: 1.1em;
}
.footer {
    padding-top: 10px;
    margin-top: 30px;
    background-color: rgb(31, 27, 27);
}
.footer-wrap {
    display: grid;
    grid-template-columns: 30% 70%;

}
.footer-info {

    color: var(--bs-light);
}
.footer-text-logo span {
    font-size: 2em ;

}
.footer-text-phone {
    text-decoration: none;
    color: rgba(255, 166, 0, 0.897);
}
.footer-menu {
    display: grid;
    grid-template-columns: auto auto;
    margin-left: 15px;
}
.footer-menu-item {
    display: flex;
    flex-direction: column;
}
.footer-menu-item a {
    color: rgb(255, 208, 0);
    text-decoration: none;
    display: block;
    padding: 10px;
    transition: all 1s ease;
    text-transform: capitalize;
}
.footer-menu-item a:hover {
    color: orange;
}
.header-menu-mobile {
    position: fixed;
    z-index: 1000;
    height: 100vh;
    background-color: var(--bs-gray);
    right: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 1s ease; 
    width: 0;
}
.show-menu {
    opacity: 1;
    visibility: visible;
    width: max-content;
}
.show-menu-mobile {
    display: none !important; 

}
.header-menu-mobile ul   {
    padding: 20px;
}
.header-menu-mobile ul li {
    list-style: none;
    width: 200px;
    padding: 5px;
    border-bottom: 1px solid #aaa;
}
.header-menu-mobile ul li a {
    text-decoration: none;

}
.header-menu-mobile-close {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    border: unset;
    background: linear-gradient(to right, #aaa, #ffb62d);
    padding: 10px 15px;
    border-radius: 5px;
    color: var(--bs-light);
    transition: all 500ms ease;
    animation: figgker 2s ease infinite;
    margin-left: 20px;

}

.header-menu-mobile ul li a:hover {
    color: rgb(63, 59, 59);
}
.header-menu-mobile ul li:hover {
    background-color: rgb(255, 238, 0) ;
    color: whitesmoke;
}
 @media screen and (max-width: 768px) {
    .header-menu {
        opacity: 0;
        visibility: hidden ;
    }
    .header {
        display: grid;
        grid-template-columns: 20% 40% 40%;
    }
    .header-button {
        display: flex;
        height: max-content;
        justify-content: space-between;
        padding-right: 10px;
    }
    .show-menu-mobile {
        display: block !important;
    }
 }